.join {
  padding: 14rem 32.2rem;
}

.join_info {
  width: 109rem;
  margin: 0 auto;
}

.join_box {
  padding: 0 19rem;
  border-bottom: 0.1rem solid #ccc;
}

.join_input h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 5rem;
}

.join_input h4 span {
  color: #ff0000;
}

.join_input li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 6.5rem;
}

.join_input li input {
  width: 49.5rem;
}

.join_input .input_box,
.join_input .email_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 49.5rem;
  margin-bottom: 1rem;
}

.join_input .input_box input {
  width: 37.5rem;
}

.join_input .email_box input {
  width: 22.2rem;
}

.join_input .email_box select {
  width: 22.2rem;
}

.join_input .input_box input:last-child {
  width: 100%;
  margin-top: 0.7rem;
}

.join_input .input_box span {
  display: block;
  width: 10.2rem;
  line-height: 5rem;
  text-align: center;
  background: #525252;
  color: #fff;
  cursor: pointer;
}

.join_input .input_box h3 {
  color: rgb(216, 46, 46);
  font-size: 2rem;
  margin: 2rem 0 0 0;
}
.join_input h3 {
  color: rgb(216, 46, 46);
  font-size: 2rem;
  margin: 2rem 0 0rem 22rem;
}

.join_check label {
  justify-content: center;
  margin-bottom: 4.2rem;
}

/* join terms */

.join_terms {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4.3rem 11.5rem 5.5rem;
}

.join_terms li {
  width: 41.5rem;
}

.join_terms li div {
  height: 16.4rem;
  background: #eff0f2;
  padding: 1.7rem;
  overflow-y: auto;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 2.3rem;
}

.join_terms label {
  padding-left: 1.7rem;
}
.join_btn {
  display: flex;
}
.join_btn button {
  width: 35rem;
  line-height: 5rem;
  text-align: center;
  background: #000;
  color: #fff;
  margin: 10rem auto;
}

@media (max-width: 1080px) {
  .join {
    padding: 0;
  }

  .join_info {
    width: 100%;
  }

  .join_box {
    padding: 0 8rem;
  }

  .join_input li {
    margin-bottom: 13rem;
  }

  .join_input h4 {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  .join_input .input_box,
  .join_input .email_box {
    width: 100%;
  }

  .join_input li input {
    width: 100%;
  }

  .join_input .input_box input {
    width: 58.5rem;
  }

  .join_input .input_box span {
    width: 29.2rem;
    line-height: 13.2rem;
    font-size: 4rem;
  }

  .join_input .input_box input:last-child {
    margin-top: 2.6rem;
  }

  .join_input .email_box input {
    width: 42.5rem;
  }

  .join_input .email_box select {
    width: 40rem;
  }

  .join_check label {
    margin-top: 24.4rem;
    margin-bottom: 8rem;
    align-items: normal;
    line-height: 1.7;
  }

  .join_terms {
    padding: 9rem 8rem 3.5rem;
  }

  .join_terms li {
    width: 100%;
    margin-bottom: 9rem;
  }

  .join_terms li div {
    height: 24rem;
    font-size: 3rem;
    margin-bottom: 3.8rem;
  }

  .join_terms label {
    padding: 0;
  }

  .join_btn {
    padding: 0 8rem 25rem;
  }

  .join_btn a {
    width: 100%;
    line-height: 13rem;
    font-size: 4.2rem;
  }
}
